<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>  
	<settings>
		<!-- 全局映射器启用缓存 -->
		<setting name="cacheEnabled" value="true" />
		<!-- 查询时，关闭关联对象即时加载以提高性能 -->
		<setting name="lazyLoadingEnabled" value="true" />
	</settings>
    <typeAliases>  
<!--         <typeAlias alias="StudentEntity" type="com.mybatis.bean.StudentEntity"/>   -->
    </typeAliases>  

	  
  	<plugins>
  	
        <plugin interceptor="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
            <property name="dialectClass" value="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect"/>
        </plugin>
    </plugins>

    <mappers>  
<!--         <mapper resource="com/qianqian/demo/mapper/TestUserMapper.xml" />     -->
    </mappers>  
  

</configuration>  