@charset "utf-8";
/* CSS 公用样式 */
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5,h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0;padding: 0; }
img { border: 0 none; vertical-align: top; }
ul, li { list-style-type: none; }
h1, h2, h3, h4, h5, h6 { font-size: 14px; font-weight:normal;}
body, input, select, button, textarea { font-size: 12px;font-family:"\5FAE\8F6F\96C5\9ED1";}
button { cursor: pointer; }
i, em, cite { font-style: normal; }
body { line-height: 1.2;}
a, a:link { color: #666; text-decoration: none; }
a:visited {}
a:active, a:hover { text-decoration:none; }
a:focus { outline: none; }
.fixed:after { content: "."; display: block; clear:both; height: 0; visibility: hidden; }
.fixed { display: block; min-height: 1%; }
*html .fixed { height: 1%; }
.clear { clear:both;}
.more { float: right; }
.more a {font-weight: normal; font-size: 12px; }
.fl { display: inline; float: left; }
.fr { float: right; }
input[type=button],input[type=submit]{border:none;}

#wapper{ width:100%;}
.main{ width:1000px; margin:0 auto;}




/****************************** CSS 背景颜色-公用样式 ******************************/
.background_green{ background:#f7fceb;}/**绿色色背景**/
.background_white{ background:#fff;}/**白色背景**/
.background_gray{ background:#f5f5f5;}/**灰色1背景**/



/****************************** CSS 字体颜色-公用样式 ******************************/
.yellow{ color:#f60;}/**字体黄色**/
.gray{ color:#666;}/**字体灰色**/
.gray2{ color:#999;}/**字体灰色2**/
.green{ color:#6fa300;}/**字体绿色**/
.blue{ color:#0096ff;}/**字体蓝色**/
.red{ color:#f00;}/**字体红色**/

a.yellow{ color:#f60;}/**字体黄色**/
a.gray{ color:#666;}/**字体灰色**/
a.gray2{ color:#999;}/**字体灰色2**/
a.green{ color:#6fa300;}/**字体绿色**/
a.blue{ color:#0096ff;}/**字体蓝色**/
a.red{ color:#f00;}/**字体红色**/




/****************************** CSS 边框颜色-公用样式 ******************************/
.boreder{ border:1px solid #ccc;}/**边框灰色**/
.border_green{ border:1px solid #90e303;}/**边框绿色**/




/****************************** CSS top外边距距离-公用样式 ******************************/
.top5{ margin-top:5px;}
.top10{ margin-top:10px;}
.top15{ margin-top:15px;}
.top20{ margin-top:20px;}
.top25{ margin-top:25px;}
.top30{ margin-top:30px;}
.top35{ margin-top:35px;}

/****************************** CSS top内边距距离-公用样式 ******************************/
.padding10{ padding:0 10px;}
.padding_10{ padding:10px;}


/****************************** CSS 字体大小-公用样式 ******************************/
.fize12{ font-size:12px;}
.fize14{ font-size:14px;}
.fize16{ font-size:16px;}






.input_boredr_none{ border:none; cursor: pointer; border-radius:2px;}

.blog_cent .none{ border:none;}
.tab_noe .bl_none{ border-left:none;}
.tab_noe .br_none{ border-right:none;}
.tab_noe .border_bottom .bl_none{ border-left:none;}
.tab_noe .border_bottom .br_none{ border-right:none;}
.tab_noe .teb .bl_none{ border-left:none;}
.tab_noe .teb .br_none{ border-right:none;}
/****************************** 我的美试-我的订单-导航 ******************************/
.passw_wz{ font-size:14px; font-family:"宋体"; line-height:76px;}
.passw_wz span{ color:#84c100;}



/****************************** 遮罩层 ******************************/
#abk{width: 0; height: 0; background: black; opacity: 0;filter:alpha(opacity:0); position: absolute; left: 0; top: 0; z-index: 51; display: none;}

/****************************** 翻页效果 ******************************/
DIV.yahoo {
	  TEXT-ALIGN: right; clear:both; color:#666; padding:20px 0;
}
DIV.yahoo input{ width:27px; height:16px; border:1px solid #f39700; text-align:center; margin:0 5px}
DIV.yahoo  a.go{ width:29px; height:22px; background:#f39700; color:#fff; text-decoration:none; margin:2px 0 0 5px;}
DIV.yahoo A {
	 PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 1px; COLOR: #666; PADDING-TOP: 2px; TEXT-DECORATION: none;
}

DIV.yahoo SPAN.current {
	 FONT-WEIGHT: bold; COLOR: #000;
}
DIV.yahoo SPAN.disabled {
	  COLOR: #666;
}

/****************************** 遮罩层 ******************************/
#abk{width: 0; height: 0; background: black; opacity: 0;filter:alpha(opacity:0); position: absolute; left: 0; top: 0; z-index: 51; display: none;}



/****************************** CSS 所有页面右侧轮播图与图片 ******************************/
.classify_right{ width:250px;}
.n_js{ width:230px; background:#fff; padding:10px; box-shadow:2px 2px 3px #e1e1e1;}
.n_js h2{ font-size:18px; color:#000; height:40px; line-height:30px; padding:0 2px;}
.new_banner{width:230px;height:230px; position:relative; margin:0 auto; background:url(../images/loading.gif) no-repeat center center #fff;}
.rslides{width:100%;position:relative;list-style:none;padding:0}
.rslides_tabs{ position:absolute; right:0px; bottom:5px;clear:both;text-align:center; z-index:99999;}
.rslides_tabs li{display:inline;float:none;_float:left;*float:left;margin-right:5px}
.rslides_tabs a{ width:12px; height:12px; background:#fff;text-indent:-5em; overflow:hidden; display:block; float:left; margin-left:6px;border-radius:6px;}
.rslides_tabs .rslides_here a{ background:#90d300;}



/****************************** CSS user_top ******************************/
.blog_top{ background:#fff; position:relative;}
.blog_topa{ height:180px; position:relative;}
.blog_topa a.medal{ float:right; width:67px; height:25px; line-height:25px; color:#fff; padding-left:8px; background:url(../images/button/yzm17.jpg) no-repeat; position: absolute; right:10px; bottom:0;}
.blog_bottom{ height:150px; border:1px solid #ccc; border-top:none;}
.blog_bottom_left{ float:left; width:192px; height:236px; padding:4px;box-shadow:2px 2px 5px #e1e1e1; position: absolute; top:69px; margin-left:15px; background:#fff;}

.blog_bl_img{ width:190px; height:190px;position:relative;}
.blog_bl_img img{ border:1px solid #ccc;}
.blog_bl_img a.ren{ right:0; bottom:0; position:absolute;}
.blog_bl_img a.ren img{ border:none;}
.blog_bl_tp{ margin-top:5px; height:46px;}
.blog_bl_tp span{ float:left; text-align:center; font-size:14px; color:#333; line-height:20px; width:95px;}
.blog_bl_tp span.xux{ border-right:1px solid #ccc;}
.blog_bl_tp span em{ font-size:12px;}

.blog_bottom_cent{ float:left; margin-left:235px; padding:10px 0;}
.blog_bottom_cent ul li{ display:block; clear:both; line-height:28px;}
.blog_bottom_cent ul li.blog_tp01 span{ float:left;}
.blog_bottom_cent ul li.blog_tp01 span.nic01{ width:235px; font-size:18px; color:#333;}
.blog_bottom_cent ul li.blog_tp01 span.nic01 em{ position:relative; top:6px; margin-left:5px;}
.blog_bottom_cent ul li.blog_tp01 span.nic02{ width:140px; font-size:12px; margin-top:3px; color:#333;}
.blog_bottom_cent ul li.blog_tp02{ font-size:12px; color:#666;}
.blog_bottom_cent ul li.blog_tp03{ color:#ccc; position:relative; left:-8px;}
.blog_bottom_cent ul li.blog_tp03 span{ margin:0 8px; color:#6fa300;}
.blog_bottom_right{ float:right; width:140px; height:140px; border:1px solid #ccc; box-shadow:2px 2px 5px #e1e1e1; position:relative; top:3px; right:6px;}
.blog_bottom_right a.fens{ position:absolute; top:0; left:0;}

.blog_bottom_cent ul li.blog_tp04{ margin-top:10px;}
.blog_bottom_cent ul li.blog_tp04 a{ float:left; height:25px; line-height:25px; margin-right:10px;}
.blog_bottom_cent ul li.blog_tp04 a.share{ margin-right:5px;}
.blog_bottom_cent ul li.blog_tp04 a.attention{ width:35px; color:#f60; background:url(../images/button/yzm19.jpg) no-repeat; padding-left:25px;}
.blog_bottom_cent ul li.blog_tp04 a.praisea{ float:left; width:160px; padding-left:28px; background:url(../images/button/yzm20.jpg) no-repeat; color:#6fa300}
.blog_bottom_cent ul li.blog_tp04 a.gift{ width:33px; background:url(../images/button/yzm16.jpg) no-repeat; padding-left:22px; color:#fff;}
.blog_bottom_cent ul li.blog_tp04 a.share{ width:33px; background:url(../images/button/yzm21.jpg) no-repeat; padding-left:22px; color:#fff;}





.blog_cr{ width:668px;}
.blog_crt h2{ color:#f60; font-size:18px; height:28px; padding-left:37px; line-height:28px; background:url(../images/lucency_icon/yzm25.png) no-repeat;}
.blog_crt h2.luojia02{ color:#f60; font-size:18px; height:28px; padding-left:42px; line-height:28px; background:url(../images/icon/yzm25-01.jpg) no-repeat 0 8px;}
.blog_crtc{ height:200px; background:#fff; margin-top:5px; box-shadow:2px 2px 2px #E2E2E2; padding:10px;}
.blog_crtc .fl{ border:1px solid #ccc;}
.blog_crtc .fr{ width:410px;}
.blog_crtc .fr ul{ border-bottom:1px dashed #ccc; padding:5px 0 10px 0;}
.blog_crtc .fr ul li{ line-height:30px; color:#333; font-size:14px; clear:both;}
.blog_crtc .fr ul li a{ color:#333; font-size:18px;}
.blog_crtc .fr ul li.fr02{ color:#f60;}
.blog_crtc .fr ul li.fr02 span{ color:#000;}
.blog_crtc .fr ul li.fr03 span{ float:left;}
.blog_crtc .fr ul li.fr03 span.gui01{ width:125px;}
.blog_crtc .fr ul li.fr03 span.gui02{ width:110px;}
.blog_crtc .fr ul li.fr03 span.gui03{ width:145px;}
.blog_crtc .fr ul li.fr04{ color:#f60; font-size:18px;}
.blog_crtc .fr ul li.fr04 em{ font-size:24px; position:relative; top:2px;}
.blog_crtc .fr ul li.fr04 span{ font-size:14px; margin-left:20px; color:#333;}
.blog_crtc .fr p{ line-height:34px; font-size:14px; color:#333;}

.blog_crb h2{ color:#6fa300; font-size:18px; background:url(../images/lucency_icon/yzm26.png) no-repeat; padding-left:30px;}
.blog_crtb{ height:205px; background:#fff; margin-top:10px; box-shadow:2px 2px 2px #E2E2E2;}
.tiyan{width:668px;height:226px;background:#fff;margin-top:5px;float:left; box-shadow:2px 2px 2px #E2E2E2; font-size:12px;}
.cpxhd{width:333px;height:210px;float:left;margin-top:10px;border-right:1px solid #ccc;}
.cpxhd_del{width:320px;margin:0 0 15px 20px;float:left;display:inline;}
.cpxhd h3{font-size:14px;margin:10px 0 10px 15px;}
.cpxhd_del span{width:25px; text-align:right;margin-right:5px;line-height:26px; vertical-align:middle;}
.cpxhd_del p{float:left;line-height:26px; vertical-align:middle;}
.cpxhd_du{ float:left; width:220px; margin-right:10px;}
.cpxhd_du span{height:26px;float:left;}
.ppphd_del span{width:40px; text-align:right;margin-right:5px;line-height:26px; vertical-align:middle;}
.ppphd_du{width:220px; float:left; margin-right:10px;}
.ppphd_du span{float:left; height:26px;}
.ppphd_del p{float:left;line-height:26px; vertical-align:middle;}
.time1{margin:10px 0 0 15px;display:inline;}
.time2{margin:10px 15px 0 0;display:inline;}
.color_1{background:#ff9a14;}
.color_2{background:#ffcc89;}
.color_3{background:#ffebd0;}
.ppphd{width:334px;height:210px;float:left;margin-top:10px;}
.ppphd_del{width:320px;margin:0 0 15px 10px;float:left;}
.ppphd h3{font-size:14px;margin:10px 0 10px 15px;}
.color_4{background:#8fc31f;}
.color_5{background:#c7e18f;}
.color_6{background:#e9f3d2;}