@charset "utf-8";
/* CSS individual_center 个人中心首页*/
.indiv_cent{ border:1px solid #ccc; margin-top:45px; padding:8px;}
.indiv_top_img{ float:left; border:1px solid #eaeaea;}
.indiv_top_right{ float:right; width:786px; margin-right:14px;}
.indiv_tlt{ border-bottom:1px dashed #ccc; font-size:15px; line-height:60px;}
.indiv_tlt span{ float:left; margin-right:15px; color:#333; font-size:14px;}
.indiv_tlt span.width204{ width:194px;}
.indiv_tlt span.width160{ width:150px;}
.indiv_tlt span.width250{ width:260px;}
.indiv_tlt a{ float:right; width:115px; height:26px; color:#ff8a00; margin-top:16px; background:url(../images/icon/geren_04.jpg) no-repeat; line-height:25px; padding:0 10px 0 0;  font-size:14px; text-align:right;}
.indiv_top_right ul{ padding-top:12px;}
.indiv_top_right ul li{ position:relative; line-height:36px;}
.indiv_top_right ul li p{ float:left; width:190px; font-size:15px; color:#333;}
.indiv_top_right ul li p.indiv_position{ position:absolute; right:-70px; top:36px;}
.indiv_top_right ul li p em{ float:left; background:url(../images/icon/gren_01.png) no-repeat; margin:9px 5px 0 0;}
.indiv_top_right ul li p span{ color:#6fa300;}
.indiv_top_right ul li p em.tb01{ width:18px; height:20px; background-position:-0 0;}
.indiv_top_right ul li p em.tb02{ width:17px; height:20px; background-position:-27px 0;}
.indiv_top_right ul li p em.tb03{ width:22px; height:20px; background-position:-52px 0;}
.indiv_top_right ul li p em.tb04{ width:18px; height:20px; background-position:-81px 0;}
.indiv_top_right ul li p em.tb05{ width:22px; height:20px; background-position:-103px 0;}
.indiv_top_right ul li p em.tb06{ width:18px; height:20px; background-position:-128px 0;}
.indiv_top_right ul li p em.tb07{ width:20px; height:20px; background-position:-152px 0;}
.indiv_bl{ float:left; border:1px solid #ccc;}
.indiv_bl li a{ display:block; width:100px; height:44px; line-height:44px; font-size:14px; background:url(../images/icon/gren_02.png) no-repeat 36px 15px; padding-left:64px;}
.indiv_bl li a.geren_bj,.indiv_bl li a:hover{ background:url(../images/icon/gren_03.png) no-repeat 36px 15px #eee; color:#6FA300;}

.indiv_br{ width:816px;}
.indiv_br p{ margin:0 0 10px 2px;}
.indev_new{ border:1px solid #ccc; padding:8px; position:relative;}
.indev_new .hr{ height:228px; width:1px; background:#9c0; position:absolute; left:407px;}
.indev_new ul{ width:390px;}
.indev_new ul h2{ height:36px; line-height:36px; color:#6fa300; font-size:16px; font-weight:normal; text-align:center;}
.indev_new ul li{ padding:15px 0 15px 22px;}
.indev_new ul li a.fl{ width:162px; height:162px; box-shadow:-0.5px -0.5px 6px #E2E2E2;}
.indev_new ul li span{ margin-left:30px; font-size:14px; margin-top:35px;}
.indev_new ul li span p{ color:#6fa300; width:170px; text-align:center;}
.indev_new ul li span p em{ text-align:right; color:#666;}
.indev_new ul li span a{ width:102px; height:25px; background:url(../images/img/geren_03.jpg) repeat-x; text-align:center; line-height:25px; color:#fff; display:block; margin:20px auto 0 auto;}


/* CSS individual_data 个人中心资料*/
.data .Menubox{ height:43px;}
.data .Menubox ul li a{ float:left; cursor: pointer; font-size:15px; margin-right:14px; height:42px; padding:0 36px; line-height:42px; border:1px solid #dadada; border-bottom:none; background:#f7f7f7; border-radius: 8px 8px 0 0;}
.data .Menubox ul li a.hover{height:43px; border:1px solid #93d700; border-bottom:none; background:#fff; color:#6fa300;}
.data .Contentbox{ border:1px solid #93d700;}
.data .Contentbox .cont_data{ padding:44px 0 44px 122px;}
.data .Contentbox .cont_data ul li{ clear:both; line-height:36px; font-size:14px;}
.data .Contentbox .cont_data ul li.padding100{ padding:20px 0 5px 100px;}
.data .Contentbox .cont_data ul li p.padding100{clear:both; margin-top:-20px; font-size:12px; color:#f60;}
.data .Contentbox .cont_data ul li p.ys{clear:both; margin-top:-20px; font-size:12px; color:#ff6600;}
.data .Contentbox .cont_data ul li span{ float:left; min-width:85px; text-align:right; margin-right:10px;}
.data .Contentbox .cont_data ul li em{ font-size:12px; margin-left:10px; color:#f60;}
.data .Contentbox .cont_data ul li select.loginFormTdIpt_c{ float:left; width:120px; height:28px; border:1px solid #adadad; margin:4px 10px 0 0;}

.data .Contentbox .cont_data ul li p{ float:left; width:500px;}
.data .Contentbox .cont_data ul li p input.data_bd01{ float:left; margin:13px 10px 0 0;}
.data .Contentbox .cont_data ul li p label.data_bd02{ float:left; width:95px; margin-right:5px;} 

.data .Contentbox .cont_data ul li p input.data_bd03{ float:left; margin:13px 5px 0 0;}
.data .Contentbox .cont_data ul li p label.data_bd04{ float:left; width:45px; margin-right:5px;} 

.data .Contentbox .cont_data ul li input.loginFormTdIpt_a{float:left; height:28px; border-radius:2px; line-height:28px; color:#999; border:1px solid #a0a0a0; width:240px; padding:0 5px; margin-top:4px;}
.data .Contentbox .cont_data ul p.data_anniu{ float:left; margin:20px 0 0 75px;}
.data .Contentbox .cont_data ul p.data_anniu a{ float:left; width:110px; height:30px; text-align: center; line-height:30px; font-size:16px; color:#fff; margin:0 55px;}
.data .Contentbox .cont_data ul p.data_anniu a.xiugai{ background:url(../images/img/data01.jpg) repeat-x;}
.data .Contentbox .cont_data ul p.data_anniu a.baoc{ background:url(../images/img/yzm03.jpg) repeat-x;}




.data .Contentbox .cont_img{ padding:74px 36px 50px 36px;}
.img_top li{ float:left;}
.img_top li.img_topa span{ display:inline-block; margin-left:22px; color:#d40000; font-size:14px; line-height:31px;}
.img_top li.img_topb{ margin-top:20px;}
.img_top li.img_topb a{ float:left; line-height:25px; margin-right:10px; text-align:center; color:#fff; font-size:14px; background:url(../images/img/data02.jpg) repeat-x;}
.img_top li.img_topb input.loginFormTdIpt_a{float:left; height:25px; border-radius:2px; line-height:28px; color:#999; border:1px solid #a0a0a0; width:240px; padding:0 5px; margin-right:15px;}
.img_top li.img_topb a.datimg01{ width:98px;}
.img_top li.img_topb a.datimg02{ width:58px;}
.img_top li.img_topb a.datimg03{ width:58px;}

.img_bottom{ float:left; margin-top:45px;}
.img_bottom li{ float:left; color:#666;}
.img_bottom li.img_bottoma p input.data_bd03{ float:left; margin:2px 10px 0 0;}
.img_bottom li.img_bottoma p label.data_bd04{ font-size:14px;}
.img_bottom li.img_bottoma span{ float:left; width:296px; height:296px; border:2px solid #87c500; background:#e8e8e8;}
.img_bottom li.img_bottomb{ width:370px; border-left:1px dashed #999; margin-left:30px; padding-left:30px; margin-top:26px;}
.img_bottom li.img_bottomb h2{ font-weight:normal; font-size:14px; line-height:18px;}
.img_bottom li.img_bottomb span{ line-height:20px;}
.img_bottom li.img_bottomb span.fr{ margin-top:30px;}
.img_bottom li.img_bottomb span img{ border:1px solid #85c200;}


.address{ padding:60px 0;}
.address_a{ padding:0 0 0 130px;}
.address_a h3{ color:#f60; line-height:25px;}
.address_a h3 span.icon01{ float:left; width:18px; height:18px; background:url(../images/icon/data01.jpg) no-repeat; margin:4px 5px 0 0;}
.address_a h3 span.icon02{ float:left; width:18px; height:18px; background:url(../images/icon/data02.jpg) no-repeat; margin:5px 10px 0 0;}
.address_a li{ float:left; clear:both; margin:4px 0;}
.address_a li span{ font-size:16px; color:#666;}
.address_a li span em{ color:#ea000b; margin-right:5px;}
.address_a li span.add01{ line-height:50px}
.address_a li span.add02{ float:left; min-width:100px; margin-right:10px; font-size:14px; line-height:28px; text-align:right;}
.address_a li input.loginFormTdIpt_a{float:left; height:25px; border-radius:2px; line-height:28px; color:#999; border:1px solid #a0a0a0; width:200px; padding:0 5px; margin-right:15px;}
.address_a li input.loginFormTdIpt_b{float:left; height:25px; border-radius:2px; line-height:28px; color:#999; border:1px solid #a0a0a0; width:368px; padding:0 5px; margin-right:15px;}
.address_a li select.loginFormTdIpt_c{ float:left; width:120px; height:28px; border:1px solid #adadad; margin:0px 10px 0 0;}
.address_a li.left{ margin-top:30px;}
.address_a li input.data_bd03{ float:left; margin:2px 10px 0 16px;}
.address_a li label.data_bd04{ font-size:14px; color:#666;}
.address_a li a{ width:180px; height:35px; background:url(../images/img/passw01.jpg) repeat-x; float:left; clear:both; line-height:35px; color:#fff; text-align:center; font-size:16px; margin:50px 0 0 190px;}
.address_b{ width:725px; margin:70px auto 0 auto;}
.address_b span{ color:#999; font-size:14px;}
.address_b span em{ color:#6fa300;}
.address_b table{ float:left; clear:both; font-family:"宋体"; margin-top:15px;}
.address_b table .hons,.address_b table .hons a{ color:#ea000b;}



.tryt li,.tryt li span,.tryt li input{ float:left;}
.tryt li span{ float:left; line-height:28px; margin:0 5px; font-size:14px; color:#666;}
.tryt li input.loginFormTdIpt_a{ height:28px;}



/* CSS individual_friend 邀请好友*/
.friend{ border:1px solid #b7b7b7; padding:45px 50px; text-align:center;}
.friend h2{ font-size:20px; color:#6fa300;}
.friend h3{ font-size:20px; color:#666; margin-top:35px;}
.friend h3 em{ font-size:20px; color:#6fa300;}
.friend ul{ padding:30px 35px; border-bottom:1px dashed #918b8a;}
.friend ul li div.friend_left,.friend ul li div.friend_right{ float:left; text-align:left; font-size:16px; line-height:50px; color:#666;}
.friend ul li div.friend_right{ margin-left:40px;}
.friend ul li div.friend_right p{ line-height:22px; font-size:14px;}
.friend ul li div.friend_right span.ul01{ float:left; width:370px; height:45px; border:1px solid #93d700; font-size:12px; font-family:"宋体"; line-height:23px; padding:0 5px; color:#000;}
.friend ul li div.friend_right a.ul02{ float:left; width:110px; height:35px; text-align:center; background:url(../images/img/passw01.jpg) repeat-x; line-height:35px; margin:6px 0 0 10px; color:#fff;}

.friend ul li div.friend_right dl{ float:left; margin-top:10px; width:350px;}
.friend ul li div.friend_right dl dt{ float:left; width:115px;}
.friend ul li div.friend_right dl dt a{ float:left; font-size:12px; font-family:"宋体"; height:28px; line-height:28px; padding-left:35px;}
.friend ul li div.friend_right dl dt a.iconc01{ background:url(../images/icon/friend01.jpg) no-repeat;}
.friend ul li div.friend_right dl dt a.iconc02{ background:url(../images/icon/friend02.jpg) no-repeat;}
.friend ul li div.friend_right dl dt a.iconc03{ background:url(../images/icon/friend03.jpg) no-repeat;}
.friend ul li div.friend_right dl dt a.iconc04{ background:url(../images/icon/friend05.jpg) no-repeat;}
.friend ul li div.friend_right dl dt a.iconc05{ background:url(../images/icon/friend06.jpg) no-repeat;}
.friend ul li div.friend_right dl dt a.iconc06{ background:url(../images/icon/friend04.jpg) no-repeat;}


/* CSS individual_medal 体验勋章*/
.medal{ padding:0 30px 35px 30px; width:756px; border:1px solid #b7b7b7;}
.medal_top{ line-height:67px; border-bottom:1px dashed #bdbdbd;}
.medal_top_left{ float:left;}
.medal_top_left span{ margin-right:10px; color:#666; font-size:16px; float:left; width:160px;}
.medal_top_left span em{ color:#f60;}
.medal_top_cent{ float:left; width:194px; height:27px; background:url(../images/img/medal01.jpg) no-repeat; margin:20px 0 0 40px;}
.medal_top_cent input.ssuo{ float:left; width:145px; border:none; background:none; height:23px; margin:2px 0 0 2px;}
.medal_top_cent a{ float:left; width:47px; height:27px; line-height:27px; text-align:center; color:#fff;}
.medal_top_right a{ float:right; color:#f60;}

.medal_cent{ float:left; width:786px; padding-top:36px;}
.medal_cent ul li{ float:left; margin:0 12px 30px 0;}
.medal_cent ul li img{ border:1px solid #ccc;}
.medal_cent ul li span{ display:block; margin-top:6px;}
.medal_cent ul li span p{ margin-bottom:0; width:140px; overflow:hidden; height:24px; line-height:22px; text-align:center;}
.medal_cent ul li span p em{ color:#f60;}

.medal_bottom em{ color:#6fa300; font-size:14px;}
DIV.yahoo {
	  TEXT-ALIGN: center; float:right; color:#666;
}
DIV.yahoo input{ width:27px; height:16px; border:1px solid #f39700; text-align:center; margin:0 5px}
DIV.yahoo  a.go{ width:29px; height:22px; background:#f39700; color:#fff; text-decoration:none; margin:2px 0 0 5px;}
DIV.yahoo A {
	 PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 1px; COLOR: #666; PADDING-TOP: 2px; TEXT-DECORATION: none;
}

DIV.yahoo SPAN.current {
	 FONT-WEIGHT: bold; COLOR: #000;
}
DIV.yahoo SPAN.disabled {
	  COLOR: #666;
}




/* CSS individual_medal 我的收藏*/
.collect_a{ padding:0 30px 30px 30px;}
.collect_a_top span{ float:left; line-height:65px;}
.collect_a_top span input{ float:left; margin:26px 5px 0 0;}
.collect_a_top span label{ float:left; font-size:14px; color:#666;}
.collect_a_top span a{ float:left; font-size:14px; background:url(../images/icon/collect01.jpg) no-repeat 0 23px; padding-left:20px; margin-left:25px;}
.collect_a_cent{ clear:both; width:786px; position:relative;}
.collect_a_cent ul li{ float:left; width:142px; margin:0 10px 30px 0;}
.collect_a_cent ul li p{ margin-top:10px;}
.collect_a_cent ul li p input{ float:left; margin-top:3px;}
.collect_a_cent ul li p span{ float:left; width:116px; margin-left:6px; line-height:20px; color:#666; font-family:"宋体";}
.collect_b_cent ul li img{ border:1px solid #ccc;}


.safety{ padding:30px 50px; border:1px solid #ccc;}
.safety h2{ font-size:18px; color:#6fa300;}
.safety_top{ border:1px solid #93d700; background:#f7fceb; font-size:14px; padding:24px 32px 14px 32px; margin:27px 0 34px 0; color:#333;}
.safety_top p a{ color:#6fa300;}
ul.safety_cent li{ float:left; width:100%; display:block; border-bottom:1px dashed #ccc;}
ul.safety_cent li span{ float:left; font-size:14px;}
ul.safety_cent li span.fuw01{ color:#666; background:url(../images/icon/safety01.jpg) no-repeat 8px 0; padding-top:30px; margin-top:18px;}
ul.safety_cent li span.fize14{ color:#666; line-height:80px;}
ul.safety_cent li span.fize14 em{ color:#c00;}
ul.safety_cent li span.fuw02{ font-size:16px; line-height:80px; margin:0 35px;}
ul.safety_cent li span.right01{ margin-left:21px;}
ul.safety_cent li span.fuw03{ width:420px; line-height:22px; margin-top:20px; color:#666;}
ul.safety_cent li a{ float:right; width:80px; height:30px; margin-top:28px; background:url(../images/img/yzm03.jpg) repeat-x; text-align:center; color:#fff; line-height:30px; font-size:14px;}


/* CSS individual_system 系统提醒*/
.systema{ padding:30px;}
.systema_top{ border-bottom:1px solid #a9df34; line-height:24px; padding:5px;}
.systema_top span{ font-size:14px; float:right; margin-left:10px; color:#666;}
.systema_top span em{ color:#f60;}
.systema_top_cent{ float:right; width:194px; height:27px; background:url(../images/img/medal01.jpg) no-repeat; margin-right:10px;}
.systema_top_cent input.ssuo{ float:left; width:145px; border:none; background:none; height:23px; margin:2px 0 0 2px;}
.systema_top_cent a{ float:left; width:47px; height:27px; line-height:27px; text-align:center; color:#fff;}
.systema_top_right a{ float:right; color:#f60;}

.systema_cent{ padding-bottom:30px;}
.systema_cent a{ float:left; width:756px; padding:18px 0; border-bottom:1px dashed #ccc;}
.systema_cent a:hover{ color:#666;}
.systema_cent a input{ float:left; margin-top:3px;}
.systema_cent a span.yid01{ float:left; width:128px; background: url(../images/icon/system01.jpg) no-repeat 0 3px; padding-left:30px; font-size:14px; color:#666; margin:0 20px;}
.systema_cent a span.weid01{ float:left; width:128px; background: url(../images/icon/system02.jpg) no-repeat 0 3px; padding-left:30px; font-size:14px; color:#000; margin:0 20px;}
.systema_cent a span.yid02,.systema_cent a span.weid02{ float:left; width:410px; font-size:14px;}
.systema_cent a span.yid02 p,.systema_cent a span.weid02 p{ color:#6fa300;}
.systema_cent a span.yid03,.systema_cent a span.weid03{ float:right; font-size:14px;}

.medal_gy span{ float:left;}
.medal_gy span input{ float:left; margin:3px 5px 0 0;}
.medal_gy span label{ float:left; font-size:14px; color:#666;}
.medal_gy span a{ float:left; font-size:14px; background:url(../images/icon/collect01.jpg) no-repeat 0 -1px; padding-left:20px; margin-left:25px;}

.systema_tist{ border-bottom:1px solid #a9df34; line-height:24px; padding:5px;}
.systema_tist span.fl{ font-size:14px; color:#6fa300; margin-right:15px;}
.systema_tist span.fr{ color:#666;}
.systema_tist span.fr a{ float: right; width:60px; height:23px; color:#fff; text-align:center; margin-left:10px;}
.systema_tist span.fr a.delete{ background:#93d700; border:1px solid #c5ea77;}
.systema_tist span.fr a.return{ background:#f39700; border:1px solid #f9ce88;}
.systema_tisc{ border-bottom:1px dashed #ccc; padding:35px 0;}
.systema_tisc dt{ color:#666; font-size:14px; line-height:40px;}
.systema_tisc .img{ text-align:center;}
.systema_tisc dt p{ text-indent:26px; line-height:20px;}
.systema_tisc dd{ float:right; font-size:14px; color:#666; margin:60px 20px 0 0;}
.systema_tisb a{ font-size:14px; color:#f60; margin-left:15px; line-height:40px;}



/* CSS individual_exchange 我的兑换*/
.exchange{ padding:10px 0 20px 0; border:1px solid #ccc;}
.exchange_top{ padding:0 45px 10px 45px; line-height:40px;}
.exchange_top span.fl{ min-width:160px; font-size:14px; color:#666;}
.exchange_top span.fl em{ color:#f60;}
.exchange_r{ clear:both;}
.exchange_r span{ font-size:14px; color:#666;}
.exchange_r span input.width195{ height:25px; line-height:25px; margin:0 20px 0 5px; padding:0 5px; border:1px solid #ccc;}
.exchange_r span input.jcDate{ width:100px; height:25px; line-height:25px; padding:0 5px; margin:0 5px; border:1px solid #ccc;}
.exchange_r span a.search{ width:80px; height:27px; background:url(../images/img/data01.jpg) repeat-x; float:right; margin-top:7px; text-align:center; line-height:27px; font-size:16px; color:#fff;}
/* jcDateIco */
.jcDateIco{background:#fff url(../images/icon/dateIco.png) no-repeat right center;}
input.jcDate{cursor:pointer;}
#jcDate{background:#fefefe;width:161px;padding:10px;height:203px;position:absolute;z-index:1000;border:2px solid #2b84b5;color:#333;display:none;font-size:0;overflow:hidden;}
#jcDateTt{height:15px;line-height:15px;position:relative;margin-bottom:10px;}
#jcDateTt a{color:#333;display:block;position:absolute;top:0;width:15px;height:15px;cursor:pointer;}
#jcDateTt a#d_prev{background:url(../images/icon/r_left.png) no-repeat center 3px;left:0;}
#jcDateTt a#d_next{background:url(../images/icon/r_right.png) no-repeat center 3px;right:0;}
#jcDateTt a#d_prev:hover{background-position:center -11px;background-color:#2b84b5;}
#jcDateTt a#d_next:hover{background-position:center -11px;background-color:#2b84b5;}
#jcDateTt div{position:absolute;top:0;left:15px;right:15px;bottom:0;color:#333;font-size:12px;font-weight:bold;text-align:center;}
#jcDateTt div samp,#jcDateTt div span{margin:0 5px;color:#333;font-size:12px;font-weight:bold;cursor:pointer;}
#jcDateTt div samp:hover,#jcDateTt div span:hover,#jcDateTt div samp.visited,#jcDateTt div span.visited{color:#2b84b5;}
#jcDateMax{width:1935px;height:124px;position:relative;left:-687px;top:0;}
#jcDateMax ul{width:161px;font-size:0;float:left;height:124px;display:inline-black;}
#jcDayWrap{overflow:hidden;}
#jcYeas,#jcMonth{display:none;overflow:hidden;padding-left:2px;margin-bottom:10px;}
#jcYeas dt,#jcYeas dd{font-weight:bold;width:53px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
#jcYeas dt:hover,#jcYeas dd:hover,#jcMonth dt:hover,#jcMonth dd:hover{background:#5aaad8;color:#fff;}
#jcYeas dt.visited,#jcYeas dd.visited,#jcMonth dt.visited,#jcMonth dd.visited{background:#2b84b5;color:#fff;}
#jcMonth dt{font-weight:bold;width:53px;height:25px;float:left;text-align:center;line-height:25px;cursor:pointer;margin:10px 0;}
#jcDayWrap ul li,
#jcDayCon dt{float:left;width:23px;line-height:20px;text-align:center;display:inline;}
#jcDayWrap ul li{color:#bbb;cursor:pointer;}
#jcDayCon dt{color:#2b84b5;font-size:13px;}
#jcDayWrap ul li.jcDateColor{color:#555; position:relative; z-index:10001;}
#jcDayWrap ul li.visited{background:#2b84b5;color:#fff;}
#jcDayWrap ul li:hover{background:#5aaad8;color:#fff;}
#jcDateMax{clear:both;}
#jcDateBtn{clear:both;line-height:19px;height:19px;padding-top:10px;overflow:hidden;}
#jcTimeWrap{float:right;width:54px;border:1px solid #999;border-left:1px solid #555;border-top:1px solid #555;height:17px;overflow:hidden;display:none;}
#jcDateBtn label{width:6px;line-height:18px;height:17px;display:block;float:left;text-align:center;color:#333;}
#jcDateBtn input{line-height:17px;height:17px;text-align:center;float:left;width:24px;border:0;}
#jcDateBtn samp,#jcDateBtn span{float:left;margin-right:10px;cursor:pointer;}
#jcDateBtn samp:hover,#jcDateBtn span:hover{color:#d52222;}
#jcDateBtn a#d_sub{width:37px;float:right;display:block;line-height:18px;height:17px;text-align:right;cursor:pointer;}
#jcDateBtn a#d_sub:hover{text-decoration:none;color:#d52222;font-weight:bold;}
/**************************************** jQuery jcdate - End ****************************************************/
.exchange_ct{ height:28px; background:#f7fceb; border-top:1px solid #93d700; border-left:1px solid #93d700; border-bottom:1px solid #93d700;}
.exchange_ctc{ height:42px; background:#f7fceb; border-top:1px solid #93d700; border-left:1px solid #93d700; border-bottom:1px solid #93d700;}
.exchange_ct span,.exchange_ct div{ float:left; height:28px; text-align:center; line-height:28px; border-right:1px solid #93d700; font-size:14px; color:#333;}
.exchange_ctc div{ float:left; height:42px; text-align:center; line-height:42px; border-right:1px solid #93d700; font-size:14px; color:#333;}
.exchange_ct span.exchange_ct01{ width:430px;}
.exchange_ct span.exchange_ct02{ width:83px;}
.exchange_ct span.exchange_ct03{ width:136px;}
.exchange_ct span.exchange_ct04{ width:160px;}
.exchange_cc{ padding-bottom:20px;}
.exchange_cc tr{ width:814px;}
.exchange_cc tr td.grayeee{ float:left; width:814px; height:28px; line-height:28px; background:#eee; margin-top:8px; text-indent:10px;}
.exchange_cc tr td.grayeee span{ margin-right:20px;}
.exchange_cc tr td.grayeee em{ color:#f60;}
.exchange_cc tr.underline{ float:left; border-bottom:1px dashed #6fa300;}
.exchange_cc tr{ line-height:20px;}
.exchange_cc tr td.underline01{ width:90px; text-align:center;}
.exchange_cc tr td.underline01 img{ border:1px solid #e6e6e6;}
.exchange_cc tr td.underline02{ width:320px; padding:0 10px;}
.exchange_cc tr td.underline03{ width:83px; text-align:center;}
.exchange_cc tr td.underline04{ width:136px; text-align:center;}
.exchange_cc tr td.underline05{ width:160px; text-align:center;}




.exchange_cc tr td.my01{ width:90px; text-align:center;}
.exchange_cc tr td.my01 img{ border:1px solid #e6e6e6;}
.exchange_cc tr td.my02{ width:130px;}
.exchange_cc tr td.my03{ width:130px; text-align:center;}
.exchange_cc tr td.my04{ width:130px; text-align:center; color:#f60;}
.exchange_cc tr td.my05{ width:100px; text-align:center;}
.exchange_cc tr td.my06{ width:130px; text-align:center;}
.exchange_cc tr td.my07{ width:102px; text-align:center;}

.exchange_cc tr td a{ color:#6fa300;}
.exchange_cc tr td a.lan{ color:#09f;}
.exchange_cc tr td a.mybj01{ width:70px; height:25px; display:block; background:url(../images/img/geren_03.jpg)  repeat-x; text-align:center; line-height:25px; color:#fff; margin:3px auto;}
.exchange_cc tr td a.mybj02{ width:70px; height:25px; display:block; background:url(../images/img/data03.jpg)  repeat-x; text-align:center; line-height:25px; color:#fff; margin:3px auto;}

.exchange_cc tr td.mys01{ width:104px; text-align:center; color:#f60;}
.exchange_cc tr td.mys02{ width:94px; text-align:center;}
.exchange_cc tr td.mys02 img{ border:1px solid #e6e6e6;}
.exchange_cc tr td.mys03{ width:130px;}
.exchange_cc tr td.mys04{ width:86px; text-align:center;}
.exchange_cc tr td.mys05{ width:94px; text-align:center;}
.exchange_cc tr td.mys06{ width:94px; text-align:center;}
.exchange_cc tr td.mys07{ width:108px; text-align:center;}
.exchange_cc tr td.mys08{ width:328px; text-align:center;}


.padding35{ padding:0 35px;}
.padding30{ padding-top:30px;}



/* CSS individual 安全中心*/
.password_nav01{ width:814px; height:27px; background:url(../images/img/password01.jpg) no-repeat 0 0; margin-bottom:15px;}
.password_nav02{ width:814px; height:27px; background:url(../images/img/password01.jpg) no-repeat 0 -31px; margin-bottom:15px;}
.password_nav03{ width:814px; height:27px; background:url(../images/img/password01.jpg) no-repeat 0 -62px; margin-bottom:15px;}

.mobile_nav01{ width:814px; height:27px; background:url(../images/img/password02.jpg) no-repeat 0 0; margin-bottom:15px;}
.mobile_nav02{ width:814px; height:27px; background:url(../images/img/password02.jpg) no-repeat 0 -31px; margin-bottom:15px;}
.mobile_nav03{ width:814px; height:27px; background:url(../images/img/password02.jpg) no-repeat 0 -62px; margin-bottom:15px;}


.email_nav01{ width:814px; height:27px; background:url(../images/img/password03.jpg) no-repeat 0 0; margin-bottom:15px;}
.email_nav02{ width:814px; height:27px; background:url(../images/img/password03.jpg) no-repeat 0 -31px; margin-bottom:15px;}
.email_nav03{ width:814px; height:27px; background:url(../images/img/password03.jpg) no-repeat 0 -62px; margin-bottom:15px;}


.verification{ border:1px solid #ccc;}

.verification_a{ text-align:center; color:#666; font-size:16px; padding:0 48px;}
.verification_b{ text-align:center; color:#666;}
.tiona_top{ padding:126px 0 146px 0;}
.tionb_top{ padding:126px 0 68px 0;}
.tiona_top a.fas01{ width:180px; height:35px; background:url(../images/img/passw01.jpg)  repeat-x; margin:70px auto 0 auto; display:block; line-height:35px; color:#fff;}
.tiona_bottom{ display:block; border-top:1px dashed #ccc; line-height:30px; padding:40px 0 40px 0; font-size:14px;}

.tiona_top_cent{ width:468px; text-align:left; height:70px; line-height:30px; background: url(../images/icon/yzm02.png) no-repeat 90px 22px #fff4eb; border:1px solid #f90; margin:30px auto; padding:20px 0 0 132px;}
.tiona_top_cent dt span{ float:left; line-height:30px; margin-right:5px; color:#333;}
.tiona_top_cent dd{ color:#666; font-size:12px;}
.tiona_top a.fas02{ width:200px; height:35px; background:url(../images/img/passw01.jpg)  repeat-x; margin:0 auto; display:block; line-height:35px; color:#fff;}
.tiona_top dt a.fas03{ width:180px; height:30px; background:url(../images/img/data02.png)  repeat-x; display:inline-block; text-align:center; line-height:30px; color:#fff;}
.tiona_top_bottom{ height:30px; display:inline-block; margin-top:47px;}
.tiona_top_bottom span{ float:left; line-height:30px;}
.tiona_top_bottom input{ float:left; width:154px; height:28px; border:1px solid #ccc; line-height:28px; border-radius:2px;}
.tiona_top_bottom a.fas04{ width:80px; height:30px; background:url(../images/img/yzm03.jpg) repeat-x; display:inline-block;line-height:30px; color:#fff; margin-left:10px;}

.verification_b{ padding:50px 0;}
.verification_b span.bit{  background:url(../images/icon/yzm02.png) no-repeat left; display:inline-block; height:35px; line-height:24px; padding:20px 0 10px 40px; font-size:14px; margin:0 auto;}
.verification_b p{ font-size:14px; line-height:40px;}
.verification_b p em,.verification_b p a{ color:#db0000;}
.verification_c{ padding:100px 0;}

.verification_b ul{ text-align:left; padding:60px 0 20px 126px;}
.verification_b ul li{ clear:both; font-size:14px; margin-bottom:12px; float:left;}
.verification_b ul li span{ float:left; width:170px; text-align:right; line-height:28px;}
.verification_b ul li input.loginFormTdIpt_a{float:left; height:28px; border-radius:2px; line-height:28px; color:#999; border:1px solid #ccc; width:200px; padding:0 5px;}
.verification_b a.verif01{ clear:both; display:block; width:110px; height:35px; line-height:35px; color:#fff; font-size:16px; background:url(../images/img/passw01.jpg) repeat-x; margin: 0 auto;}
.verification_b ul dl{ float:left; clear:both; line-height:24px; margin:5px 0 0 172px;}
.verification_b ul dl dt{ display:inline-block; width:56px; height:20px; line-height:20px; color:#555; background:#f3f3f3; text-align:center; border:1px solid #ccc; margin-right:6px;}
.verification_b ul dl dd{ clear:both; color:#999; font-size:12px;}


.mobile_a ul{ padding:27px 0 20px 135px;}
.mobile_a ul li a{ float:left; width:110px; height:30px; background:url(../images/img/yzm03.jpg) repeat-x; text-align:center; line-height:30px; color:#fff; margin-left:10px;}
.mobile_a ul li p{ line-height:24px; font-size:12px; color:#c00; margin-left:172px; clear:both;}
.mobile_b p{ line-height:24px; margin-top:24px; color:#999;}
.mobile_b p a{ color:#6fa300;}


.emaila{ text-align:left; padding-left:80px;}
.email ul li span{float:left; width:190px; text-align:right; line-height:28px;}
.email_a{ padding:50px 48px 0 48px;}
.email_a a.verif01{clear:both; display:block; width:160px; height:35px; line-height:35px; color:#fff; font-size:16px; background:url(../images/img/passw01.jpg) repeat-x; margin: 0 auto 50px auto;}
.email_a .tiona_top_cent{ width:468px; text-align:left; height:70px; line-height:30px; background: url(../images/icon/yzm02.png) no-repeat 90px 22px #fff4eb; border:1px solid #f90; margin:0 auto 30px auto; padding:20px 0 0 132px;}
.email_a .tiona_top_cent dt span{ float:left; line-height:30px; margin-right:5px; color:#333; font-size:16px;}
.email_a .tiona_top_cent dt a.fas03{ font-size:16px; width:180px; height:30px; background:url(../images/img/data02.png)  repeat-x; display:inline-block; text-align:center; line-height:30px; color:#fff;}
/**************************************** 安全中心 ****************************************************/



/* CSS my feeling 我的体验*/
.feeling{ padding:0 0 20px 0;}
.feeling_top dl{ padding:20px 60px; line-height:50px;}
.feeling_top dl dt{ background:url(../images/icon/yzm03.jpg) no-repeat 0 4px; padding-left:20px; font-size:14px; color:#333; line-height:22px;}
.feeling_top dl dt em{ color:#f60;}
.feeling_top dd span{ font-size:14px; color:#333;}
.feeling_top dd span input.width195{ height:25px; line-height:25px; margin:0 20px 0 5px; padding:0 5px; border:1px solid #ccc;}
.feeling_top dd span input.jcDate{ width:75px; height:25px; line-height:25px; padding:0 5px; margin:0 5px; border:1px solid #ccc;}
.feeling_top dd span a.search{ width:80px; height:27px; background:url(../images/img/data01.jpg) repeat-x; float:right; text-align:center; line-height:27px; font-size:16px; margin-top:12px; color:#fff;}
.exchange_ct div.feeling_ct01{ width:215px;}
.exchange_ct div.feeling_ct02{ width:130px;}
.exchange_ct div.feeling_ct03{ width:130px;}
.exchange_ct div.feeling_ct04{ width:100px;}
.exchange_ct div.feeling_ct05{ width:130px;}
.exchange_ct div.feeling_ct06{ width:102px;}

.exchange_ct div.feeling_cta01{ width:270px;}
.exchange_ct div.feeling_cta02{ width:108px;}
.exchange_ct div.feeling_cta03{ width:106px;}
.exchange_ct div.feeling_cta04{ width:107px;}
.exchange_ct div.feeling_cta05{ width:108px;}
.exchange_ct div.feeling_cta06{ width:108px;}

.exchange_ctc div.feeling_ctc01{ width:104px;}
.exchange_ctc div.feeling_ctc02{ width:224px;}
.exchange_ctc div.feeling_ctc03{ width:86px; line-height:20px;}
.exchange_ctc div.feeling_ctc04{ width:94px;}
.exchange_ctc div.feeling_ctc05{ width:94px;}
.exchange_ctc div.feeling_ctc06{ width:108px;}
.exchange_ctc div.feeling_ctc07{ width:96px;}

.SelectControl  span.arrow{background:url(../images/icon/yzm04.png) no-repeat;width:16px;height:28px;overflow:hidden;display:inline-block;float:right; position:absolute; right:0;}
.SelectControl{ width:130px; background:#f7fceb;position:relative;cursor:pointer;}
.SelectControl .arrow{background-position:0 0;}
.SelectControl input{ width:130px; background:none;border:none;font-size:14px;cursor:pointer;float:left;display:inline; margin:4px 0 0 0; text-align:center;}
.SelectControl ul{position:absolute;left:-1px;top:30px;border-width:0px 1px 1px 1px;border-style:solid;border-color:#93d700;background:#fff;}
.SelectControl li{height:28px;line-height:28px;overflow:hidden;padding:0 6px;cursor:pointer; font-size:14px;}
.SelectControl li.on{background:#f7fceb;color:#666;}

.SelectControla  span.arrow{background:url(../images/icon/yzm05.jpg) no-repeat;width:16px;height:42px;overflow:hidden;display:inline-block;float:right; position:absolute; right:0;}
.SelectControla{ width:108px; background:#f7fceb;position:relative;cursor:pointer;}
.SelectControla .arrow{background-position:0 0;}
.SelectControla input{ width:108px; background:none;border:none;font-size:14px;cursor:pointer;float:left;display:inline; margin:11px 0 0 -6px; text-align:center;}
.SelectControla ul{position:absolute;left:-1px;top:43px;border-width:0px 1px 1px 1px;border-style:solid;border-color:#93d700;background:#fff;}
.SelectControla li{height:28px;line-height:28px;overflow:hidden;padding:0 6px;cursor:pointer; font-size:14px;}
.SelectControla li.on{background:#f7fceb;color:#666;}
/**************************************** 我的体验 ****************************************************/



/* CSS my Rating 我的评价*/
.exchange_cc tr td.rating_a01{ width:94px; text-align:center;}
.exchange_cc tr td.rating_a01 img{ border:1px solid #e6e6e6;}
.exchange_cc tr td.rating_a02{ width:176px;}
.exchange_cc tr td.rating_a03{ width:108px; text-align:center;}
.exchange_cc tr td.rating_a04{ width:106px; text-align:center;}
.exchange_cc tr td.rating_a05{ width:107px; text-align:center;}
.exchange_cc tr td.rating_a06{ width:108px; text-align:center;}
.exchange_cc tr td.rating_a07{ width:108px; text-align:center;}


.rating_top dt.fl{ width:501px; height:28px; border-top:1px solid #93d700; border-bottom:1px solid #93d700; background:#f7fceb; text-align:center; line-height:28px; color:#6fa300; font-size:14px;}
.rating_top dt.fr{ width:311px; height:28px; border:1px solid #f90; background:#fc9; text-align:center; line-height:28px; color:#f60; font-size:14px;}
.rating_top dt em{ color:#f00;}
.rating_top dt.fl span{ font-size:12px; color:#6fa300;}
.rating_top dt.fr span{ font-size:12px; color:#f60;}

.rating_bottom{ clear:both; height:24px; border-bottom:1px solid #ccc;}
.rating_bottom dt{ float:left; height:24px; line-height:24px; text-align:center; border-right:1px solid #ccc;}
.rating_bottom dt.ra01{ width:280px;}
.rating_bottom dt.ra02{ width:115px;}
.rating_bottom dt.ra03{ width:104px;}
.rating_bottom dt.ra04{ width:102px;}
.rating_bottom dt.ra05{ width:103px;}
.rating_bottom dt.ra06{ width:104px; border:none;}

.exchange_cc tr td.rating_b01{ width:94px; text-align:center;}
.exchange_cc tr td.rating_b01 img{ border:1px solid #e6e6e6;}
.exchange_cc tr td.rating_b02{ width:186px;}
.exchange_cc tr td.rating_b03{ width:115px; text-align:center;}
.exchange_cc tr td.rating_b04{ width:104px; text-align:center;}
.exchange_cc tr td.rating_b05{ width:102px; text-align:center; background:#fef6f1;}
.exchange_cc tr td.rating_b06{ width:103px; text-align:center; background:#fef6f1;}
.exchange_cc tr td.rating_b07{ width:110px; text-align:center; background:#fef6f1;}
/**************************************** 我的评价 ****************************************************/



/* CSS account 我的账户*/

/* CSS account 账户记录*/
.acccount_record{ padding:30px;}
.record_top{ line-height:25px;}
.record_top .fr{ margin-top:2px;}
.record_top span{ font-size:14px; margin-right:5px;}
.record_top a{ float:left; width:53px; height:25px; background:url(../images/img/data03.jpg) repeat-x; text-align:center; color:#fff; font-size:14px;}
.record_top input.jcDate{ width:100px; height:23px; line-height:23px; padding:0 5px; border:1px solid #ccc;}
.tecord_cent{ clear:both; display:inline-block; margin-top:15px;}

.tecord_cent_top{ border:1px solid #93d700; border-bottom:none; border-right:none; height:42px; background:#f7fceb;}
.tecord_cent_top span{ float:left; height:42px; font-size:14px; color:#333; line-height:42px; border-right:1px solid #93d700;}
.tecprda_01{ width:160px; text-align:center;}
.tecprda_02{ width:109px;}
.tecprda_03{ width:110px;}
.tecprda_04{ width:108px;}
.tecprda_05{ width:110px;}
.tecprda_06{ width:150px; text-align:center;}

.tecprda_02 em.img01{ float:left; width:18px; height:20px; background:url(../images/icon/gren_01.png) no-repeat 0 0; margin:11px 5px 0 28px;}
.tecprda_03 em.img02{ float:left; width:18px; height:20px; background:url(../images/icon/gren_01.png) no-repeat -27px 0; margin:11px 0 0 23px;}
.tecprda_04 em.img03{ float:left; width:22px; height:20px; background:url(../images/icon/gren_01.png) no-repeat -52px 0; margin:12px 4px 0 20px;}
.tecprda_05 em.img04{ float:left; width:18px; height:20px; background:url(../images/icon/gren_01.png) no-repeat -81px 0; margin:12px 4px 0 15px;}

.record_cent_cent{ clear:both; background:#ccc;}
.record_cent_cent tr td{ background:#fff; height:35px; font-size:14px;}
.record_cent_cent tr td span.f60{ color:#f60; font-size:16px;}
.record_cent_cent tr td span.fa300{ color:#6fa300; font-size:16px;}
.record_cent_cent tr td.recorda_width160{ width:160px; color:#666;}
.record_cent_cent tr td.recorda_width109{ width:109px;}
.record_cent_cent tr td.recorda_width110{ width:110px;}
.record_cent_cent tr td.recorda_width108{ width:108px;}
.record_cent_cent tr td.recorda_width150{ width:140px; padding:0 5px; font-size:12px;}
/**************************************** 账户记录 ****************************************************/


/* CSS account 充值中心*/
.paya{ padding:30px;}
.paya_top{ border-bottom:1px dashed #666;}
.paya_lia{ line-height:44px;}
.lia_fl{ float:left; width:100px; text-align:right; color:#333; font-size:14px;}
.paya_lia .f7fceb{ float:left; width:600px; height:44px; background:#f7fceb; padding:0 10px;}
.paya_lia .f7fceb span{ margin-right:25px; font-size:14px;}
.account .Menuboxa ul li{ float:left; font-size:14px; line-height:43px; width:154px; height:43px; border:1px solid #ccc;cursor: pointer; margin:30px 0;}
.account .Menuboxa ul li.lia_fl{ background:none; border:none; width:100px; height:45px; text-align:right; line-height:45px;}
.account .Menuboxa ul li span.fl01{ float:left; width:22px; height:20px; background:url(../images/icon/gren_01.png) no-repeat -52px 0; margin:12px 5px 0 38px;}
.account .Menuboxa ul li span.fl02{ float:left; width:20px; height:20px; background:url(../images/icon/gren_01.png) no-repeat -152px 0; margin:12px 5px 0 34px;}
.account .Menuboxa ul li.hover{ background:url(../images/icon/yzm06.jpg) no-repeat; color:#000;}

.account .Contentboxa{ clear:both;} 
.account .Contentboxa .experience ul li{ line-height:42px; clear:both; float:left; width:756px; margin-bottom:15px;}
.account .Contentboxa .experience ul li input.width100{ float:left; width:100px; height:40px; line-height:40px; border:1px solid #ccc; text-align:center; margin-right:5px; font-size:22px; font-family:"Arial Unicode MS","微软雅黑","宋体";}

.account .Contentboxa .experience ul li span.fl{ font-size:14px; color:333;}
.account .Contentboxa .experience ul li span.jine{ font-size:16px;}
.account .Contentboxa .experience ul li span.jine em.yellow{ font-size:28px;}
.account .Contentboxa .experience ul li a.anniua{ display:block; width:150px; height:35px; background:url(../images/img/passw01.jpg) repeat-x; margin:0 auto; text-align:center;  line-height:35px; font-size:20px; color:#fff;}
.account .Contentboxa .experience ul li dl{ float:left;}
.account .Contentboxa .experience ul li dl dt{ height:44px; width:600px; padding:0 10px;}
.account .Contentboxa .experience ul li dl dt input{ float:left; margin-top:15px; margin-right:5px;}
.account .Contentboxa .experience ul li dl dt label{ float:left; font-size:14px; color:#000;}
.account .Contentboxa .experience ul li dl dt:hover{ background:#f7fceb;}
.account .Contentboxa .experience ul li dl dt label em{ font-size:14px;}



.paya_bottom{ clear:both; padding:25px 0 0 0;}
.paya_bottom .record_top h2{ float:left;}
.biaod{ border:1px solid #93d700; border-right:none; background:#f7fceb; height:34px; line-height:34px; color:#333; margin-top:10px;}
.biaod dt{ float:left; height:34px; border-right:1px solid #93d700; text-align:center; font-size:14px;}
.biaod dt.biaod01{ width:208px;}
.biaod dt.biaod02{ width:192px;}
.biaod dt.biaod03{ width:165px;}
.biaod dt.biaod04{ width:184px;}

.account_biaod{ background:#ccc; position:relative; top:-2px; z-index:-999;}
.account_biaod tr td{ background:#fff; height:34px;}
.payb li{line-height:42px; clear:both; float:left;}
.payb li.lia_fl{ float:left; width:100px; height:42px; text-align:right; color:#333; font-size:14px;}
.payb li span{ float:left; width:556px; font-size:14px;}
.payb li span.jine{ font-size:16px;}
.payb li span.jine em.yellow{ font-size:28px;}
.lia_fr{ float:left; line-height:0; width:650px;}
.lia_fr a{ width:152px; height:48px; display:inline-block; border:1px solid #ccc; margin:2px; float:left;}
.lia_fr a:hover{ width:152px; height:48px; border:1px solid #f39700;}
.lia_fr a:hover span{ float:right; width:17px; height:17px; background:url(../images/icon/yzm07.png) no-repeat; right:0; bottom:17px; z-index:999; position:relative;}
.js{ float:left; margin-left:100px;}
.dotline a{ line-height:24px; font-family:"宋体"; color:#333; background:url(../images/icon/yzm08.jpg) no-repeat right; padding-right:15px; margin:8px 0 8px 2px; float:left;}
.payb li.top20{ float:left; margin:20px 0 0 100px;}
.payb li a.zhifu{ clear:both; display:block; width:150px; text-align:center; height:35px; line-height:35px; background:url(../images/img/passw01.jpg) repeat-x; font-size:20px; color:#fff;}
.payb li p,.payb li p input{ float:left;}
.payb li p input{ margin:14px 5px 0 0;}
.payb li p label em{ color:#6fa300;}
/**************************************** 充值中心 ****************************************************/


/* CSS account 赠送中心*/
.account .Contentboxa .experience ul li input.width180{ float:left; width:184px; height:40px; line-height:40px; border:1px solid #ccc; margin-right:10px; font-size:22px; font-family:"Arial Unicode MS","微软雅黑","宋体";}
.account .Contentboxa .experience ul li textarea.width350{ float:left; width:350px; height:110px; border:1px solid #ccc; margin:14px 10px 0 0;}
.account .Contentboxa .experience ul li p{ clear:both; margin-left:100px;}
.account .Contentboxa .experience ul li p input{ float:left; margin:14px 5px 0 0;}
.account .Contentboxa .experience ul li span.fl01{ position:relative; display:inline-block; float:right; right:300px; width:160px; height:40px; background:#fff1d9; text-align:center; line-height:20px; padding-top:2px;}
.payc ul{ padding-left:280px;}
.payc ul li{ font-size:14px; line-height:24px; margin:20px 0; color:333;}
.payc ul li span{ font-size:14px;}
.payc ul li span em{ font-size:22px; font-family:"Arial Unicode MS"; color:#f60; position:relative; top:3px;}
.payc dl{ display:block; line-height:24px; margin:30px 0;}
.payc dl dt{ padding:0 90px;}
.payc dl dd{ float:left;text-align:center; width:756px; font-size:14px; margin-top:30px;}
.payc dl dt span{ float:left; width:470px; line-height:24px; font-size:14px; color:333;}
.payc .xyb{ float:left; width:756px; text-align:center;}
.payc .xyb a{ margin:0  30px;}
.payc .xyb a.anniua{ display:inline-block; width:150px; height:35px; background:url(../images/img/passw01.jpg) repeat-x; text-align:center;  line-height:35px; font-size:16px; color:#fff;}
.payc .xyb a.anniub{ display:inline-block; width:150px; height:35px; background:url(../images/img/yzm06.jpg) repeat-x; text-align:center;  line-height:35px; font-size:16px; color:#fff;}

.payd_top{ height:38px; background:url(../images/icon/yzm09.jpg) no-repeat; line-height:38px; padding-left:45px; font-size:16px; margin:0 auto; width:90px;}
.paye ul.fixed{ border-bottom:1px dashed #ccc; padding:0 65px;}
.paye ul.fixed li{ float:left; font-size:14px; color:#333; line-height:24px; margin:15px 0; width:526px;}
.paye ul.fixed li span.paye_right{ color:#333; margin-right:60px; font-size:14px;}
.paye ul.fixed li span.fl{ width:426px; color:#333; font-size:14px;}
.paye ul.fixed li span{ font-size:14px;}
.paye ul.fixed li span em.yellow{ font-size:14px; font-size:24px;}
.paye_bott p{ font-size:14px; padding:10px 0 20px 30px;}
/**************************************** 赠送中心 ****************************************************/













/**************************************** 我的账户 ****************************************************/