@charset "utf-8";
/* CSS passwordForget 忘记密码页面*/


p.passw_biaot{ font-size:22px; color:#6fa300; font-family:"微软雅黑"; line-height:88px;}

.passw_cent .Menubox{ height:55px;}
.passw_cent .Menubox ul{ position: absolute;}
.passw_cent .Menubox ul li{ float:left; position:relative; width:320px; height:54px; cursor:pointer; margin:1px 20px 0 0; line-height:54px; background:url(../images/img/passwordForget02.png) no-repeat; text-align:center; font-size:18px;}
.passw_cent .Menubox ul li.hover{ height:55px; background:url(../images/img/passwordForget01.png) no-repeat; position: relative; color:#6fa300;}
.passw_cent .Contentbox{ width:998px; border:1px solid #93d700; z-index:-999;}

.passw_cent .Contentbox .passw_a{ padding:70px 0 55px 200px;}
.passw_cent .Contentbox .passw_a ul li{ float:left; margin:19px 0; clear:both; line-height:28px;}
.passw_cent .Contentbox .passw_a ul li span.pa_a_01{ float:left; width:200px; color:#717171; font-size:14px; text-align:right;}
.passw_cent .Contentbox .passw_a ul li input{ float:left; height:28px; border:1px solid #ccc;}
.passw_cent .Contentbox .passw_a ul li span.yzm,.passw_cent .Contentbox .passw_a ul li span.yzm a{ margin-left:6px; font-size:14px; color:#6fa300;}
.passw_cent .Contentbox .passw_a ul li input.passw_qd{ float:left; padding:0 30px; height:30px; background:url(../images/img/yzm03.jpg) repeat-x; color:#fff; border:none; font-size:14px; margin-left:10px;cursor: pointer;}
.passw_cent .Contentbox .passw_a ul li input.passw_qda{ clear:both; padding:0 70px; height:30px; background:url(../images/img/yzm03.jpg) repeat-x; color:#fff; border:none; font-size:14px; margin-left:10px;cursor: pointer; margin:50px 0 0 210px;}
.passw_cent .Contentbox .passw_a ul li input.passw_qd2{ margin-left:200px;}
.passw_cent .Contentbox .passw_a ul li input.TestGetCode{ padding:0 20px; height:30px; float:left; background:url(../images/img/yzm03.jpg) repeat-x; font-size:14px; border:none;cursor: pointer; color:#fff; margin-left:6px;}
input.txt01{ width:200px;}
input.txt02{ width:120px;}

.passw_cent .Contentbox .passw_b{ padding:60px 0;}
.passw_cent .Contentbox .passw_b ul li{ clear:both; line-height:28px; font-size:14px; color:#666; text-align:center; margin:30px 0;}
.passw_cent .Contentbox .passw_b ul li a.passw_qd{ display:block; margin:0 auto;  width:220px; height:35px; background:url(../images/img/passw01.jpg) repeat-x; line-height:35px; text-align:center; color:#fff; font-size:16px;}

.passw_cent .Contentbox .passw_c ul li input.passw_qd{ display:block; margin:0 auto; padding:0 30px; height:35px; background:url(../images/img/passw01.jpg) repeat-x; border:none;cursor: pointer; color:#fff; font-size:14px;}
.passw_cent .Contentbox .passw_c ul li div{ width:464px; height:88px; border:1px solid #f90; background:#fff4eb; margin:0 auto; background-image:url(../images/icon/yzm02.png); background-repeat:no-repeat; background-position:90px 27px; padding-left:134px; text-align:left; line-height:88px;}
.passw_cent .Contentbox .passw_c ul li div span,.passw_cent .Contentbox .passw_c ul li div a{ float:left;}
.passw_cent .Contentbox .passw_c ul li div input.pa_c_01{ padding:0 15px; height:25px; background:url(../images/img/data03.jpg) repeat-x; margin:32px 0 0 10px; line-height:25px; font-size:14px; color:#fff; border:none;cursor: pointer;}

.passw_cent .Contentbox .passw_d{ padding:125px 0;}
.passw_cent .Contentbox .passw_d ul li{ font-size:14px; line-height:35px; color:#525251; text-align:center;}
.passw_cent .Contentbox .passw_d ul li input{ font-size:14px; display:inline-block; padding:0 30px; height:35px; margin-left:6px; background:url(../images/img/passw01.jpg) repeat-x; border:none; color:#fff;cursor: pointer;}



/* CSS state 申诉页面*/
.state{ width:998px; border:1px solid #93d700;}
.state .state_a{ padding:30px 0 30px 210px;}
.xuanz span{float:left; color:#717171; font-size:16px; color:#6fa300; margin-right:75px; }
.xuanz input{ float:left; margin:3px 5px 0 0;}
.xuanz label{ float:left; font-size:16px; margin-right:50px; color:#717171;}
.state .state_b{ padding:30px 0;}
.xuanz{ width:665px; border-bottom:1px dashed #ccc; padding:30px 0 30px 170px; margin:0 auto;}
.state .state_a li{ float:left; margin:8px 0; clear:both; line-height:28px;}
.state .state_a li span.pa_a_01{ float:left; width:200px; color:#717171; font-size:14px; text-align:right;}
.state .state_a li input.state01{ float:left; height:28px; border:1px solid #ccc; line-height:28px;}
.state .state_a li input.state02{ float:left; height:28px; border:1px solid #ccc; line-height:28px;}
.state .state_a li input.state03{ padding:0 20px; height:30px; background:url(../images/img/yzm03.jpg) repeat-x; border:none; color:#fff; font-size:14px; margin-left:10px; cursor: pointer;}
.state .state_a li span.yzm,.passw_cent .Contentbox .passw_a ul li span.yzm a{ margin-left:6px; font-size:14px; color:#6fa300;}
.state .state_a li input.passw_qd{ float:left; height:35px; background:url(../images/img/passw01.jpg) repeat-x; border:none; color:#fff; font-size:16px; margin:0 0 0 200px;}
.state .state_a li input.passw_qd2{ width:200px;}
.state .state_a li a.TestGetCode{ width:120px; height:30px; float:left; line-height:30px; text-align:center; background:url(../images/img/yzm03.jpg) repeat-x; font-size:16px; color:#fff; margin-left:6px;}
.state .state_a li p{ clear:both; margin-left:200px; line-height:18px; padding:5px 0 0px 0; color:#f60;}
.state .state_a .statea{ padding:0 45px; float:left; height:30px; background:url(../images/img/yzm03.jpg) repeat-x; cursor: pointer; text-align:center; color:#fff; font-size:14px; border:none; margin:10px 10px 0 200px;}
.state .state_a li em{ float:left; line-height:28px; margin-top:10px; font-size:14px; color:#666;}

.state .state_b ul li div{ width:464px; height:96px; border:1px solid #93d700; background:#f7fceb; margin:0 auto; background-image: url(../images/icon/yzm01.jpg); background-repeat:no-repeat; background-position:90px 15px; padding-left:134px; text-align:left;}
.state .state_b ul li div span,.state .state_b ul li div a{ float:left;}
.state .state_b ul li div span{ font-size:14px; color:#333; margin-top:24px;} 
.state .state_b ul li div p{ clear:both; line-height:50px; color:#666; font-size:13px; margin-left:-35px;}
.state .state_b ul li div a.pa_c_01{ width:180px; height:24px; background:url(../images/img/yzm02.jpg) repeat-x; margin:20px 0 0 10px; line-height:23px; text-align:center; font-size:14px; color:#fff;}
.state .state_b ul li a.statea{ display:block; margin:15px auto 0 auto;  width:194px; height:35px; background:url(../images/img/passw01.jpg) repeat-x; line-height:35px; text-align:center; color:#fff; font-size:16px;}
.state .state_b ul li a.stateb{ float:left; margin:0 0 0 10px;  width:80px; height:30px; background:url(../images/img/yzm03.jpg) repeat-x; line-height:30px; text-align:center; color:#fff; font-size:16px;}

.state .state_b ul li span.pa_a_01{ float:left; width:200px; color:#717171; font-size:14px; text-align:right; line-height:28px;}
.state .state_b ul li input{ float:left; height:28px; border:1px solid #ccc;}

.state_c{ padding:0 90px 60px 90px;}
.state .state_ctop{ border-bottom:1px dashed #ccc; padding:20px 0 20px 80px;}
.state_ccent{ padding:0 80px;}
.state .state_ctop span,.state .state_ctop span p{ float:left; font-size:14px; color:#717171; line-height:45px;}
.state .state_ctop span.statec01{ width:200px;}
.state .state_ctop span.statec02{ width:300px;}
.state .state_ctop span.statec03{ width:180px;}
.state .state_ctop span.statec04{ width:280px;}
.state .state_ctop span.statec05{ width:300px; margin-left:90px;}

.state_ccent p.top30{ font-size:16px; color:#6fa300;}
.state_ccent p.top30 em{ float:right; font-size:12px; color:#333;}
.state_ccent .width675{ width:655px; height:95px; margin-top:5px; border:1px solid #8b8b8b;}
.state_ccent p{ line-height:30px; font-size:12px; color:#f60;}
.state_ccent p img{ margin-left:10px; margin-top:10px;}
.state_ccent p.uploading{ margin-top:20px;}
.state_ccent p.uploading input{ margin-right:5px;}
.state_ccent p.uploading .uploading01{ height:25px; background:url(../images/img/geren_03.jpg) repeat-x; border:none; color:#fff; padding:0 20px;cursor: pointer;}
.state_ccent p.uploading .uploading02{ width:385px; height:23px; border:1px solid #8b8b8b;}

.state_ccent p.submit{ text-align:center;} 
.state_ccent p.submit .uploading01{ margin-top:60px; padding:0 30px; font-size:14px; height:35px; background:url(../images/img/passw01.jpg) repeat-x; border:none; color:#fff;cursor: pointer;}


.state .state_d{ padding:80px 0;}
.state .state_d ul li{ font-size:16px; line-height:50px; color:#717171; text-align:center;}
.state .state_d ul li a{ display:inline-block; width:19px; height:21px; background:url(../images/icon/state02.jpg) no-repeat; margin:2px 5px 0 5px;}